{% extends "advanced_layout.html" %}
{% set active_page = "advanced.home" %}
{% block body %}
<br>
<div class="card text-center w-50 mx-auto">
    <h2 class="card-header">Welcome to QuantGuardBot's advanced interface</h2>
    <div class="card-body py-4">
        This interface is providing insights on some QuantGuardBot advanced concepts and should be used once QuantGuardBot basic
        features are understood.
    </div>
    <div class="card-footer">
        <a class="btn btn-sm btn-outline-primary waves-effect" href="{{ url_for('home') }}"><i class="fa fa-home"></i> Back to QuantGuardBot</a>
    </div>
</div>

{% endblock %}